@media (max-width: 575px) {
  #monsterBrowse {
    color: red;
    .browse-list-container {
      width: 90vw;
      height: 870vh;

      .monster-list {
        list-style-type: none;
        padding-left: 0;
        text-align: left;

        .monster-info {
          display: grid;
          grid-template-columns: auto auto 4fr;
          margin: 20px 10px;
          border: 1px solid rgb(0, 0, 0, 0.5);
          border-radius: 5px;
          box-shadow: 7px 7px 10px rgb(0, 0, 0, 0.2);

          .grid-column {
            margin: 0;
          }

          .grid-column.bio,
          .grid-column.tags {
            padding: 10px;
          }

          .grid-column.bio {
            display: grid;
            grid-template-rows: 0.2fr auto 0.5fr;
          }

          .grid-column.tags {
            text-align: right;
          }

          div {
            display: inline-block;
          }

          .thumbnail {
            height: 118px;
          }

          .id {
            font-size: 0.75rem;
            line-height: 0.75rem;
            color: black;
          }

          .name {
            font-size: 1.5rem;
            line-height: 2rem;
          }

          .hp-label {
            font-size: 0.5rem;
            font-weight: bold;
          }

          .hp {
            font-size: 1rem;
            font-weight: normal;
            color: black;
          }

          .supertype {
            display: block;
            margin-right: 30px;
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media (min-width: 576px) {
  #monsterBrowse {
    color: orange;
    .browse-list-container {
      width: 900px;
      height: 80vh;

      .monster-list {
        list-style-type: none;
        padding-left: 0;
        text-align: left;

        .monster-info {
          display: grid;
          grid-template-columns: auto auto 4fr;
          margin: 20px 10px;
          border: 1px solid rgb(0, 0, 0, 0.5);
          border-radius: 5px;
          box-shadow: 7px 7px 10px rgb(0, 0, 0, 0.2);

          .grid-column {
            margin: 0;
          }

          .grid-column.bio,
          .grid-column.tags {
            padding: 10px;
          }

          .grid-column.bio {
            display: grid;
            grid-template-rows: 0.2fr auto 0.5fr;
          }

          .grid-column.tags {
            text-align: right;
          }

          div {
            display: inline-block;
          }

          .thumbnail {
            height: 118px;
          }

          .id {
            font-size: 0.75rem;
            line-height: 0.75rem;
            color: black;
          }

          .name {
            font-size: 2rem;
            line-height: 3rem;
          }

          .hp-label {
            font-weight: bold;
          }

          .hp {
            font-size: 1.5rem;
            font-weight: normal;
            color: black;
          }

          .supertype {
            margin-right: 30px;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #monsterBrowse {
    color: yellow;
    .browse-list-container {
      width: 900px;
      height: 80vh;

      .monster-list {
        list-style-type: none;
        padding-left: 0;
        text-align: left;

        .monster-info {
          display: grid;
          grid-template-columns: auto auto 4fr;
          margin: 20px 10px;
          border: 1px solid rgb(0, 0, 0, 0.5);
          border-radius: 5px;
          box-shadow: 7px 7px 10px rgb(0, 0, 0, 0.2);

          .grid-column {
            margin: 0;
          }

          .grid-column.bio,
          .grid-column.tags {
            padding: 10px;
          }

          .grid-column.bio {
            display: grid;
            grid-template-rows: 0.2fr auto 0.5fr;
          }

          .grid-column.tags {
            text-align: right;
          }

          div {
            display: inline-block;
          }

          .thumbnail {
            height: 118px;
          }

          .id {
            font-size: 0.75rem;
            line-height: 0.75rem;
            color: black;
          }

          .name {
            font-size: 2rem;
            line-height: 3rem;
          }

          .hp-label {
            font-weight: bold;
          }

          .hp {
            font-size: 1.5rem;
            font-weight: normal;
            color: black;
          }

          .supertype {
            margin-right: 30px;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  #monsterBrowse {
    color: green;
    .browse-list-container {
      width: 900px;
      height: 80vh;

      .monster-list {
        list-style-type: none;
        padding-left: 0;
        text-align: left;

        .monster-info {
          display: grid;
          grid-template-columns: auto auto 4fr;
          margin: 20px 10px;
          border: 1px solid rgb(0, 0, 0, 0.5);
          border-radius: 5px;
          box-shadow: 7px 7px 10px rgb(0, 0, 0, 0.2);

          .grid-column {
            margin: 0;
          }

          .grid-column.bio,
          .grid-column.tags {
            padding: 10px;
          }

          .grid-column.bio {
            display: grid;
            grid-template-rows: 0.2fr auto 0.5fr;
          }

          .grid-column.tags {
            text-align: right;
          }

          div {
            display: inline-block;
          }

          .thumbnail {
            height: 118px;
          }

          .id {
            font-size: 0.75rem;
            line-height: 0.75rem;
            color: black;
          }

          .name {
            font-size: 2rem;
            line-height: 3rem;
          }

          .hp-label {
            font-weight: bold;
          }

          .hp {
            font-size: 1.5rem;
            font-weight: normal;
            color: black;
          }

          .supertype {
            margin-right: 30px;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  #monsterBrowse {
    color: blue;
    .browse-list-container {
      width: 900px;
      height: 80vh;

      .monster-list {
        list-style-type: none;
        padding-left: 0;
        text-align: left;

        .monster-info {
          display: grid;
          grid-template-columns: auto auto 4fr;
          margin: 20px 10px;
          border: 1px solid rgb(0, 0, 0, 0.5);
          border-radius: 5px;
          box-shadow: 7px 7px 10px rgb(0, 0, 0, 0.2);

          .grid-column {
            margin: 0;
          }

          .grid-column.bio,
          .grid-column.tags {
            padding: 10px;
          }

          .grid-column.bio {
            display: grid;
            grid-template-rows: 0.2fr auto 0.5fr;
          }

          .grid-column.tags {
            text-align: right;
          }

          div {
            display: inline-block;
          }

          .thumbnail {
            height: 118px;
          }

          .id {
            font-size: 0.75rem;
            line-height: 0.75rem;
            color: black;
          }

          .name {
            font-size: 2rem;
            line-height: 3rem;
          }

          .hp-label {
            font-weight: bold;
          }

          .hp {
            font-size: 1.5rem;
            font-weight: normal;
            color: black;
          }

          .supertype {
            margin-right: 30px;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
