@import '../../App.scss';

#monsterBrowse {
  .browse-list-container {
    margin: 0 auto;
    width: 95vw;
    height: 90vh;

    .monster-list {
      list-style-type: none;
      padding-left: 0;
      text-align: left;
    }
  }
}

@media (min-width: 576px) {
  #monsterBrowse {
    .browse-list-container {
      width: 900px;

      .monster-list {
        .monster-info {
          .id {
            font-size: 0.75rem;
            line-height: 0.75rem;
          }

          .name {
            font-size: 2rem;
            line-height: 3rem;
          }

          .hp {
            font-size: 1.5rem;
          }

          .supertype {
            margin-right: 30px;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
