@import '../../App.scss';
@import '../../components/monsterListItem/index.scss';

#monsterFilter {
  #tagFilter {
    margin: 0 auto 20px auto;
    width: 95vw;
    @include shadow-border;
    background-color: #f8f9fa;
  }

  .roster-details-layout {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    #monsterRoster {
      .browse-list-container {
        overflow-y: scroll;
        height: 80vh;

        .monster-list {
          list-style-type: none;
          padding-left: 0;
          text-align: left;

          @include monster-list-item-default;
        }
      }

      .monster-roster-footer {
        padding: 20px;

        button {
          display: block;
          margin: 0 auto;
        }
      }
    }

    #monsterDetails {
      display: none;
    }
  }
}

@media (min-width: 992px) {
  #monsterFilter {
    .roster-details-layout {
      #monsterRoster {
        .browse-list-container {
          width: 600px;

          .monster-list {
            margin-right: 20px;

            .monster-list-item {
              .id {
                font-size: 0.75rem;
                line-height: 0.75rem;
              }

              .name {
                font-size: 2rem;
                line-height: 3rem;
              }

              .hp {
                font-size: 1.5rem;
              }

              .supertype {
                margin-right: 30px;
                font-size: 1.5rem;
              }
            }
          }
        }
      }

      #monsterDetails {
        display: block;
        margin: 0;
        padding: 20px 0 0 0;
        width: 300px;

        .monster-large-image,
        .monster-detail-stencil {
          border-radius: 14px; // Counteract non-transparent card image corners ruining box-shadow.
          box-shadow: 7px 7px 15px rgb(0, 0, 0, 0.5);
          width: 300px;
          height: 412px;
        }

        .monster-detail-stencil {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.5em;
        }
      }
    }
  }
}
