$hero-image-height: 500px;
$hero-image-width: 439px;

#home {
  color: pink;
  display: flex;
  justify-content: center;
  align-items: center;

  .intro {
    margin: 0 20px 0 0;
    width: 50vh;

    h2 {
      text-align: center;
    }

    .welcome-message {
      text-align: justify;
    }
  }
  .hero-image {
    display: block;
    width: calc($hero-image-width / 1.5);
    height: calc($hero-image-height / 1.5);
  }
}

@media screen and (max-width: 393px) {
  #home {
    color: green;
  }
}

@media screen and (max-width: 768px) {
  #home {
    color: red;
    .intro {
      width: 90vh;
    }

    .welcome-message {
      text-align: center;
    }

    .hero-image {
      display: none;
    }
  }
}

@media screen and (max-width: 852px) {
  #home {
    color: blue;
  }
}
