.App {
  text-align: center;
}

.spinner {
  animation: rotation 0.75s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.content {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: center;
  padding: 20px;
}

.roster {
  border: 1px solid black;
  border-radius: 5px;
}

.roster {
  min-width: 50%;
  height: 500px;
}

.details.container {
  margin: 0 0 0 20px;
  width: 300px;
}

.monster-large-image {
  width: 300px;
}

@media (max-width: 300px) {
  .content {
    display: block;
  }

  .monster-large-image {
    width: 80%;
  }
}
