.App {
  text-align: center;
}

.content {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: center;
}

.roster,
.details {
  border: 1px solid black;
  border-radius: 5px;
}

.roster {
  min-width: 35%;
  height: 500px;
}

.details {
  margin-left: 20px;
  min-width: 30%;
  padding: 5px;
  background-color: #f50a2a;
}

.monster-large-image {
  width: 300px;
}

@media (max-width: 300px) {
  .content {
    display: block;
  }

  .monster-large-image {
    width: 80%;
  }
}
