@mixin unstyled-link {
  a:link,
  a:visited {
    text-decoration: none;
    color: inherit;
  }
}

@mixin shadow-border {
  border: 1px solid rgb(0, 0, 0, 0.5);
  border-radius: 5px;
  box-shadow: 7px 7px 10px rgb(0, 0, 0, 0.2);
}

.spinner {
  animation: rotation 0.75s infinite linear;
  display: block;
  margin: 0 auto;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media (max-width: 575px) {
  .modal-image {
    .modal-body {
      display: flex;
      align-items: center;
      justify-content: center;

      .image {
        width: 90vw;
      }
    }
  }
}

@media (min-width: 576px) {
  .modal-image {
    .modal-body {
      display: flex;
      align-items: center;
      justify-content: center;

      .image {
        width: 400px;
      }
    }
  }
}

.error-page-layout {
  width: 50vw;
  margin: 0 auto;
}
