@import '../node_modules/bootstrap/scss/bootstrap';

body {
  font-family: 'Gill Sans', Verdana, Roboto, 'Helvetica Neue', sans-serif,
    -apple-system;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Courier New', monospace;
}
